@media screen and (min-width: 500px) and (max-width: 650px) {
  .body {
    width: 80%;
    margin: 1em auto;
  }
  .body h1 {
    font-size: 2.7em;
  }
  .body ul {
    display: flex;
    flex-direction: column;
  }
  .body li {
    width: 100%;
  }
  footer > p:nth-of-type(1) {
    width: 60%;
    font-size: 2em;
    margin: 1em auto;
  }
  footer ul {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  footer li {
    width: 30%;
  }
  footer div {
    width: 100%;
  }
}
@media screen and (min-width: 500px) and (max-width: 950px) {
  header {
    height: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  header .top1 {
    display: flex;
    height: 7em;
    margin-left: 0px;
    justify-content: center;
    height: 3em;
  }
  header .top1 .top2 {
    width: 100%;
    margin-left: 0px;
    height: 6em;
  }
  .body ul {
    display: flex;
    flex-direction: column;
  }
  .body li {
    width: 100%;
  }
}
@media screen and (min-width: 650px) and (max-width: 950px) {
  .body {
    width: 80%;
    margin: 1em auto;
  }
  .body h1 {
    font-size: 2.7em;
  }
  footer > p:nth-of-type(1) {
    width: 60%;
    font-size: 2em;
    margin: 1em auto;
  }
  footer ul {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  footer li {
    width: 35%;
  }
  footer div {
    display: flex;
    flex-direction: column;
  }
  footer div p {
    width: 100%;
  }
}
@media screen and (min-width: 950px) and (max-width: 1350px) {
  .body {
    width: 80%;
    margin: 1em auto;
  }
  footer > p:nth-of-type(2),
  footer > p:nth-of-type(3) {
    font-size: 0.8em;
  }
}
